*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x:hidden; //sugerencia de Franco (ver en proyecto final)
    }
    
header{
    @extend %formatoHeader
    }

footer{
    @extend %formatoFooter
}

.direccion {
    @extend %formatoRedesFooter
}

.derechosF {
    @extend %formatoRedesFooter
}
main{

    .contacto{
        margin: 50px;
    }
    
    .titCon{
        color: green !important;
        display: flex;
        justify-content: space-around;
    }
    
    .accordion-header {
        background-color: darkgreen;
    }
    
    .accordion-button:not(.collapsed){
        background-color:darkseagreen;
        color: black;
    }
    .dat{
        margin-top: 10px;
        
    }
    
    .genCann{
        color: black;
    }
    
    .genCann::selection{
        color: #242329;
        background-color: #f6bfe2;
    }
}