*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x:hidden; //sugerencia de Franco (ver en proyecto final)
    }  
header{
    @extend %formatoHeader
    }
footer{
    @extend %formatoFooter
}
.direccion {
    @extend %formatoRedesFooter
}

.derechosF {
    @extend %formatoRedesFooter
}
main{

    .contacto{
        margin: 50px;
    }
    
    .titCon{
        color: green !important;
        display: flex;
        justify-content: space-around;
    }
    
    .accordion-header {
        background-color: rgb(113, 208, 79);
    }
    
    .accordion-button:not(.collapsed){
        background-color:rgb(229, 246, 209);
        color: black;
    }
    .dat{
        margin-top: 10px;
        
    }

    .accordion-button{
        background-color:darkseagreen;
        color: black;
    }

}