*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x:hidden; //sugerencia de Franco (ver en proyecto final)
    }

   header{
    min-height: 10vh;
    @extend %formatoHeader
   }

   footer{
    background-color: $colorFooter;
    width: 100vw;
        .imgF{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 4px;

            .aImgLn{
                width: 3%;
            }

            .aImgF{
                width: 3%;
            
            }
            .imgFace{
                width: 100%;
            }
             
            .imgLn{
                width: 100%;
            }
        
        }
        .direccion {
            @extend %formatoRedesFooter}

        .derechosF {
            @extend %formatoRedesFooter
        }
   }

   main{
    min-height: 80vh;
    
    .titulo{
        display: flex;
        justify-content: space-around;
    }
/* ---------------------MIXIN--------------------- */
/*¿VER XQ NO SE IMPORTA DESDE LA CARPETA _EXTEND? SALE EL SIGUIENTE ERROR= "message": "no mixin named bttn",
  "formatted": "Error: no mixin named bttn\n        
  on line 119 of scss/_index.scss\n        
  from line 7 of scss/main.scss\n>>             
  @include bttn (rgb(24, 54, 24), $radius: 20px);\n\n   
  ---------------------^\n"*/
    @mixin bttn($color, $radius: 0) {
        background-color: $color;
        border: solid black;
        text-transform: uppercase;
      
        @if $radius != 0 {
          border-radius: $radius;
        }
      }
/* --------------------MIXIN--------------------- */
    
    .cardIndex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn-primary{
            @include bttn (rgb(24, 54, 24), $radius: 20px);
        }
        .btn-primary:hover{
            background-color:black;
            border-radius: 50px !important;
        }
    }

    h1{
        color: black;
    }
   }

