@media (max-width: 785px){
    header{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    
    }
    .logoNom{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:750px){

    main{
        .cardIndex{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: space-evenly;
        }
    }
}

@media (max-width: 1075px){
    main{
        .containerLab{
            .mainServicios { 
                grid-area: main;
                display: flex;
                flex-direction:column;
                justify-content: space-between;

                .imgLab{
                    width: 15%;
                  }
            }

       
        }
 
    }
}



@media (max-width:780px){
    main{

        .cardCbd{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: space-around;}
            
            .cardIndex{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: space-evenly;
            }
        }
    }

    @media (max-width: 700px){
        main{

            .nosotros{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 50px;
            }
            
            .picNos{
                display: flex;
                justify-content: space-around;
            }
            
        }
    }
    @media (max-width: 450px){   
        header{
            overflow-x:scroll;
        }  
        .navBar{
            font-size: 12px;
        }
    }

    @media (max-width: 360px){   
        header{
            overflow-x:scroll;
        }  
        .navBar{
            font-size: 10px;
        }
    }
/*--------------------------------------FOOTER---------------------------------------------*/
    @media (max-width: 768px){   
        footer{
            .imgF{
                .aImgLn{
                    width: 15%;
                    
                }
    
                .aImgF{
                    width: 15%;
                
                }
            }
        }
    }
    @media (max-width: 360px){   
        footer{
            .imgF{
                .aImgLn{
                    width: 10%;
                    
                }
    
                .aImgF{
                    width: 10%;
                
                }
            }
        }
    }