*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x:hidden; //sugerencia de Franco (ver en proyecto final)
    }
    
header{
    @extend %formatoHeader
    }

footer{
    @extend %formatoFooter
}

.direccion {
    @extend %formatoRedesFooter
}

.derechosF {
    @extend %formatoRedesFooter
}
main{
     
    background-color: beige;
    .titNos{
        display: flex;
        justify-content: space-around;
        background-color: darkgreen;
        color: black;
    }
    .nosotros{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px;
    }
     .imgNos{
        width: 80vh;
        margin: 20px;
        padding-top: 5px;
        max-width: 100%;
        height: auto;
     }
     .artNos{
        margin: 20px;
    
     }
}