/* ANIMACIONES Y TRANSCICIONES */
img:hover{
    transform: scale(0.9,0.9) translate(5px, 5px);
    transition: 1ms;
}

input:focus{
    background-color: rgb(215, 255, 155);
}

h2{
    animation-name: efectoTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes efectoTitulo {
    0%{
        color: rgb(6, 57, 30);
    }
    
    50%{ 
        color: rgb(36, 59, 13);
    }
    100%{
        color: rgb(94, 128, 40);
    }
}